@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  background-color: #FFCBD8;
}

.wrapper {
  width: 1366px;
  margin: 0 auto;
}

.page-title {
  Font-family: "inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px ;
  line-height: 46px;
  color: #2D3440;
  padding: 0;
  margin: 0
}

main {
  background-color: #FEAFC3;
}

.page-button {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px ;
  line-height: 20px;
  color: #2D3440;
  margin: 0;
  padding: 12px 32px 12px 32px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.page-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.page-button:active {
  background: #FCFCFC;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.page-button:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

/* header / Навигация */

.navigation {
  display: flex;
  align-items: center;
  width: 1170px;
  height: 103.72px;
  padding: 0 98px 0.28px 98px;
  background-color: #FEAFC3;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: 10px;
  border-radius: 30px;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Навигация / Список "menu" */

.navigation-menu-list {
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px ;
  line-height: 20px;
  display: flex;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  list-style-type: none;
  outline: none;
}

.navigation-menu-link {
  padding: 8px 16px 8px 16px;
  color: #2D3440;
  text-decoration: none;
  border: 2px solid #FEAFC3;
  border-radius: 30px;
}

.navigation-menu-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-menu-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-menu-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
}

/* Навигация / Список "user" */

.navigation-user-list {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0;
  margin-left: 142px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  margin-left: 16px;
}

.contacts-telephone {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px ;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.contacts-telephone:hover {
  opacity: 0.6;
}

.contacts-telephone:active {
  opacity: 0.3;
}

.contacts-telephone:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: 3px;
  border-radius: 30px;
}

.navigation-user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px ;
  line-height: 20px;
  color: #2D3440;
  border: 2px solid #FEAFC3;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 0 20px 0 20px;
  height: 32px;
  cursor: pointer;
}

.user-button-search {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 0;
}

.user-button-icon {
  margin-right: 4px;
}

.navigation-user-button:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-user-button:active {
  background: #FCFCFC;
}

.navigation-user-button:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  outline: none;
}


/* main / Акции */

.shares-title {
  text-align: center;
  width: 1170px;
  min-height: 92px;
  margin-bottom: 55px;
}

.shares {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 0 98px 80px 98px;
  margin: 0;
}

.shares-list {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shares-item {
  position: relative;
  width: 498px;
  height: 196px;
  padding: 36px;
  margin: 0;
  background-color: #FF7799;
  border-radius: 16px;
}

.shares-item-title {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px ;
  line-height: 30px;
  color: #2D3440;
  padding: 0;
  margin: 0 0 28px 0;
}

.shares-item-description {
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px ;
  line-height: 22px;
  color: #2D3440;
  width: 328px;
  height: 66px;
  padding: 0;
  margin: 0 0 28px 0;
}

.shares-image {
  position: absolute;
  top: 0%;
  left: 61.5%;
}
