@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  background-color: #FFCBD8;
}

.wrapper {
  width: 1366px;
  margin: 0 auto;
}

.page-title {
  Font-family: "inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px ;
  line-height: 46px;
  color: #2D3440;
  padding: 0;
  margin: 0
}

.page-description {
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px ;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: #565C66;
}

main {
  background-color: #FEAFC3;
}

.page-button {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px ;
  line-height: 20px;
  color: #2D3440;
  margin: 0;
  padding: 12px 32px 12px 32px;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  border: none;
}

.page-button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.page-button:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.page-button:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.additional-button {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px ;
  line-height: 20px;
  padding: 12px 32px 12px 32px;
  margin: 0;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.additional-button:hover {
  color: #2D3440;
  background-color: #FCFCFC4D;
  outline: 4px solid #FF2F64;
}

.additional-button:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.additional-button:focus-visible {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* header / Навигация */

.navigation {
  display: flex;
  align-items: center;
  width: 1170px;
  height: 103.72px;
  padding: 0 98px 0.28px 98px;
  background-color: #FEAFC3;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: 10px;
  border-radius: 30px;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header / Навигация / Список "menu" */

.navigation-menu-list {
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px ;
  line-height: 20px;
  display: flex;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  list-style-type: none;
  outline: none;
}

.navigation-menu-link {
  padding: 8px 16px 8px 16px;
  color: #2D3440;
  text-decoration: none;
  border: 2px solid #FEAFC3;
  border-radius: 30px;
}

.navigation-menu-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-menu-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-menu-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
}

/* header / Навигация / Список "user" */

.navigation-user-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 142px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  margin-left: 16px;
}

.contacts-telephone {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px ;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.contacts-telephone:hover {
  opacity: 0.6;
}

.contacts-telephone:active {
  opacity: 0.3;
}

.contacts-telephone:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: 3px;
  border-radius: 30px;
}

.navigation-user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  Font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px ;
  line-height: 20px;
  color: #2D3440;
  border: 2px solid #FEAFC3;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 0 20px 0 20px;
  height: 32px;
  cursor: pointer;
}

.user-button-search {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 0;
}

.user-button-icon {
  margin-right: 4px;
}

.navigation-user-button:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-user-button:active {
  background: #FCFCFC;
}

.navigation-user-button:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  outline: none;
}


/* main / Акции */

.shares-title {
  text-align: center;
  width: 1170px;
  min-height: 92px;
  margin-bottom: 55px;
}

.shares {
  display: grid;
  padding: 0 98px 80px 98px;
  margin: 0;
}

.shares-list {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shares-item {
  position: relative;
  width: 498px;
  min-height: 196px;
  padding: 36px;
  margin: 0;
  background-color: #FF7799;
  border-radius: 16px;
}

.shares-item-title {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px ;
  line-height: 30px;
  color: #2D3440;
  padding: 0;
  margin: 0 0 28px 0;
}

.shares-item-description {
  color: #2D3440;
  width: 328px;
  min-height: 66px;
  padding: 0;
  margin: 0 0 28px 0;
}

.shares-image {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* main / Популярные товары */

.popular-products {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 0 98px 80px 98px;
  margin: 0;
}

.popular-products-title {
  text-align: center;
  width: 1170px;
  min-height: 92px;
  margin-bottom: 55px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.popular-products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: 51px;
}

.popular-products-link {
  text-decoration: none;
  color: #565C66;
  background-color: #FCFCFC;
  padding: 130px 37px 21px 37px;
  border-radius: 8px;
  border: 3px solid #FCFCFC;
  height: 100%;
  outline: none;
}

.popular-products-link:hover :not(:last-child) {
  opacity: 0.6;
  border: none;
}

.popular-products-link:active :not(:last-child) {
  opacity: 0.3;
  border: none;
}

.popular-products-link:focus-visible {
  border: 3px solid #000000;
}

.products-item-title, .products-item-price {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px ;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.products-item-description {
  text-align: center;
  width: 190px;
  margin: 0;
  margin-bottom: 48px;
}

.products-item-price {
  position: absolute;
  left: 40px;
  bottom: 24px;
  text-align: start;
  margin: 0;
}

.popular-products-image {
  position: absolute;
  top: -51px;
  left: 15%;
}

.popular-products-button {
  position: absolute;
  bottom: 21px;
  right: 40px;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
  border: none;
  outline: none;
  outline-offset: -2px;
  cursor: pointer;
  padding: 0;
}

.popular-products-button:hover {
  outline: 2px solid #FF2F64;
  background-color: #FFFFFF;
}

.popular-products-button:active {
  outline: 2px solid #FF2F64;
  background-color: #FFCBD8;
}

.popular-products-button:focus-visible {
  outline: 2px solid #2D3440;
  background-color: #FF2F64;
}

.popular-products-button:disabled {
  border: 2px solid #B9B9B9;
  background-color: #B9B9B9;
}

.products-button-image {
  padding: 9.25px 9.42px 9.25px 8px;
  fill: #FFFFFF;
}

.products-button-image:hover {
  fill: #2D3440;
}

.products-button-image:active {
  fill: #2D3440;
}

.products-button-image:focus-visible {
  fill: #FFFFFF;
}

.products-button-image:disabled {
  fill: #565C66;
}


/* main / Особенности */

.peculiarities-background {
  display: flex;
  justify-content: center;
  background-image: url(../images/png/background-waffle.png);
  background-position: center;
  background-color: #EEE1C6;
  width: 1170px;
  min-height: 480px;
  margin: 0 98px 80px 98px;
  border-radius: 16px;
  border: 0;
}

.peculiarities {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 1042px;
  min-height: 320px;
  background-color: #FFFFFF;
  margin: 24px 0 24px 0;
  border: 0;
  border-radius: 16px;
  padding: 56px 40px 56px 40px;
  text-align: center;
}

.peculiarities-title {
  margin-bottom: 56px;
}

.peculiarities-list {
  display: grid;
  grid-template-columns: 505.5px 505.5px;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.peculiarities-item {
  padding-left: 64px;
}

.peculiarities-item-one {
  background-image: url(../images/svg/peculiarities-one.svg);
  background-repeat: no-repeat;
}

.peculiarities-item-two {
  background-image: url(../images/svg/peculiarities-two.svg);
  background-repeat: no-repeat;
}

.peculiarities-item-three {
  background-image: url(../images/svg/peculiarities-three.svg);
  background-repeat: no-repeat;
}

.peculiarities-item-four {
  background-image: url(../images/svg/peculiarities-four.svg);
  background-repeat: no-repeat;
}

.peculiarities-descriotion {
  width: 442px;
  text-align: start;
}


/* main / Новостной блок */

.news-block {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  width: 1170px;
  margin: 0 98px 80px 98px;
  padding: 0;
}

/* main / Новостной блок / Новости */

.news {
  height: 160px;
  padding: 32px 231px 30px 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
  background-image: url(../images/png/background-ice-cream.png);
  background-repeat: no-repeat;
  border: none;
}

.news-link {
  text-decoration: none;
  min-height: 220px;
  border: 2px solid #FEAFC3;
  border-radius: 16px;
  outline: none;
}

.news-link:hover {
  opacity: 0.8;
}

.news-link:active {
  opacity: 0.6;
}

.news-link:focus-visible {
  border: 2px solid #000000;
}

.news-descriotion {
  margin-bottom: 12.22px;
}

.news-title {
  Font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px ;
  line-height: 30px;
  color: #2D3440;
  padding: 0;
  margin: 0;
}

/* main / Новостной блок / Новостная рассылка */

.newsletter-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/png/background-subscribe.png);
  width: 570px;
  height: 224px;
  border-radius: 16px;
}

.newsletter {
  width: 506px;
  height: 160px;
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-descriotion {
  margin-bottom: 52px;
}

.newsletter-form {
  margin: 0;
  padding: 0;
}

.field {
  line-height: 22px;
  color: #000000;
  width: 300px;
  margin-right: 14px;
  padding: 14px 16px 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

input::placeholder {
  color: #B9B9B9;
}
